<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Monoton|Montserrat" rel="stylesheet" />
    <title>Page 404</title>
    <link rel="stylesheet" th:href="@{|/user/assets/css/page4xx.css|}">
    <base href="/" />
</head>

<body>
    <div class="wrapper">
        <div class="t-a-c">
            <img class="logo" th:src="@{user/assets/images/logo-removebg.png}" alt="">
        </div>
        <h1>404</h1>
        <p>This page doesn't exist.</p>
        <div class="t-a-c" id='seconds-counter'></div>
        <div class="bouton">
            <a href="/shop">Back home</a>
        </div>
    </div>

    <script th:src="@{user/assets/js/page4xx.js}"></script>
</body>

</html>