<!DOCTYPE html>
<html lang="en" th:replace="~{user/security/index.html :: dynamic(~{::body})}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>

</head>

<body>
    <div class="icon-back">
        <a href="/"><i class="zmdi zmdi-arrow-left f-z-40 c-general"></i></a>
    </div>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form class="form" action="" method="post" id="form-2">
                <h1>Sign in</h1>
                <div class="social-container">
                    <a class="social"><img th:src="@{user/assets/images/icons/fb_NoBackground.png}"></a>
                    <a class="social"><img th:src="@{user/assets/images/icons/gg_NoBackground.png}"></a>
                </div>
                <span class="m-b-10">or use your account</span>
                <div class="form-group">
                    <div class="input-container">
                        <i class="zmdi zmdi-account icon"></i>
                        <input id="username" name="username" class="form-control" type="text" placeholder="Username" />
                    </div>
                    <span class="form-message">ㅤ</span>
                </div>
                <div class="form-group">
                    <div class="input-container">
                        <i class="zmdi zmdi-key icon"></i>
                        <input id="password" name="password" class="form-control" type="password"
                            placeholder="Password" />
                    </div>
                    <span class="form-message">ㅤ</span>
                </div>
                <a href="/forget-password">Forgot your password?</a>
                <span class="message" id="login-message">ㅤ</span>
                <button>Sign In</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form class="form" action="" method="post" id="formChangePassword">
                <h1>Change password</h1>
                <br>
                <span class="m-b-10">enter your new password</span>
                <div class="form-group">
                    <div class="input-container">
                        <i class="zmdi zmdi-key icon"></i>
                        <input id="oldPassword" name="oldPassword" class="form-control" type="password"
                            placeholder="Old password" />
                    </div>
                    <span class="form-message">ㅤ</span>
                </div>
                <div class="form-group">
                    <div class="input-container">
                        <i class="zmdi zmdi-key icon"></i>
                        <input id="newPassword" name="newPassword" class="form-control" type="password"
                            placeholder="New password" />
                    </div>
                    <span class="form-message">ㅤ</span>
                </div>
                <div class="form-group">
                    <div class="input-container">
                        <i class="zmdi zmdi-key icon"></i>
                        <input id="password_confirmation" name="password_confirmation" class="form-control"
                            type="password" placeholder="Confirm Password" />
                    </div>
                    <span class="form-message">ㅤ</span>
                </div>
                <span class="message" id="change-password-message">ㅤ</span>
                <button class="m-t-5">Submit</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <img class="logo" th:src="@{user/assets/images/logo-removebg.png}" alt="">
                    <h1>Welcome Friend!</h1>
                    <p>Please choose here to reset your password</p>
                    <button class="ghost" id="signIn" disabled>Change Password</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <img class="logo" th:src="@{user/assets/images/logo-removebg.png}" alt="">
                    <h1>Hello, Friend!</h1>
                    <p>Please enter your new password to continue journey with us</p>
                    <button class="ghost" id="signUp" disabled>Change Password</button>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{user/assets/vendor/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{|/user/assets/js/login.js|}"></script>
    <script th:src="@{user/assets/js/validate-handle.js}"></script>
    <script th:src="@{user/assets/js/login-handle.js}"></script>
    <script>



    </script>
</body>

</html>